.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.container.finished span, .container.finished p {
    color: var(--accent-green);
}